# Database
DATABASE_URL=mysql://root:@mysql:3306/bisma
MYSQL_DATABASE=bisma
MYSQL_ALLOW_EMPTY_PASSWORD=yes

# Backend
PORT=8000
JWT_SECRET=t0Kl8jTgZFgMmO64cZAvug8FTfVHFI8izhpjhuUm1ya0XYWM9kIpqi6q8id5rvL
JWT_REFRESH_TOKEN=pqvFK4ApAaWGkRdgPR1ZAUepwp1Z4TL6jpM9ZyNL0RCe90DHaZ8UnXYG8q12
BACKEND_URL=https://bismadev.universitaspertamina.ac.id/api

# Frontend
NEXT_PUBLIC_API_ENDPOINT=https://bismadev.universitaspertamina.ac.id/api
PORT_FRONTEND=3003
